<app-header [projectList]="projects"></app-header>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ul>
                <li *ngFor="let project of projects" style="list-style: none;">
                    <h1 [innerHtml]="project.title.rendered"></h1>
                    <img *ngIf="project.better_featured_image !== null" [src]='project.better_featured_image.source_url' [alt]='' style="max-height: 100px; display: block;">
                    <br>
                    <div [innerHtml]="project.content.rendered"></div>
                </li>
            </ul>
        </div>
    </div>
</div>